
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&family=Quicksand:wght@300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.quicksand{
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*nav style*/
.display-flex{
  display: flex;
}
.header{
  background-image: url('../assets/bg.png');
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 140px;
}
nav ul{
  display: flex;
  align-items: center;
}
nav > div{
  display: flex;
  align-items: center;
}
.nav-title{
  font-weight: bold;
  font-size: 32px;
  margin-left: 11px;
}
nav ul li{
  list-style: none;
  margin-right: 20px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}
.orange{
  color: #FEA301;
}
.sky-blue{
  color: #01ACFD;
}
.color{
  color: #5D58EF;
}
.nav-btn{
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #FEA301;
  padding: 10px 10px;
  border-radius: 12px;
}
/*banner style*/

.banner{
  align-items: center;
  justify-content: space-between;
  margin: 20px 140px;
}
.banner-contet{
  max-width: 580px;
}
.banner-title{
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 20px;
}
.banner-description{
  font-weight: 400px;
  font-size: 20px;
}
.btn-dark{
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #111111;
  padding: 10px 10px;
  border-radius: 12px;
}



.standard-title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
  color: #202020;
}


.box-container {
  display: flex;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 140px;
  margin-top: 200px;
  margin-bottom: 60px;
  gap: 28px;
}


.standard-content {
  max-width: 350px;
  padding: 20px;
  border-radius: 19px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}



.box1 {
  background-color: #DEF5FF;
  
}


.box2 {
  background-color: #FFF4DC; 
}


.box3 {
  background-color: #F2E8FF;
}

/* Button  Styling */
.standard-btn {
  font-weight: bold;
  font-size: 16px;

}
.blue{
  color: #64C8FF;
}
.red{
  color: #F0AA00;
}

.green{
  color: #8700FF;
}


.standard-img {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 15px;
}

.standard-title-2 {
  font-size: 20px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 80px;
}


.standard-description {
  font-size: 16px;
  color: #808080;
  margin-bottom: 20px;
}

.section-title1{
  font-weight: bold;
  font-size: 46px;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 60px;
  color: #000000;
}

/**card-row style*/
.bg-clr{
  background-color: #fea10131;
}

.main-img{
  padding-right: 19px;
}
.card-img{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  gap: 18px;
  max-width:1440px;
  margin-right: 140px;
 margin-left: 699px;
  margin-bottom: 80px;
  margin-top: 80px;
}
.main-img2{
  padding: 10x;
  border-radius: 10px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 140px;
  margin-right: 450px;
}
.section-title2{
  max-width: 400px;
  font-weight: bold;
  font-size: 24px;
  margin-left: 140px;
  margin-top: 34px;
  margin-bottom: 45px;
}
.section-description{
  max-width: 433px;
  font-weight: 400px;
  font-size: 16px;
  color: #666666;
  margin-left: 140px;
  margin-top: 34px;
  margin-bottom: 45px;
}
.story2{
  max-width: 290px;
  border-radius: 10px;
  background-color: #FFFFFF;
}
.title-card{
  max-width: 214px;
  font-weight: 400px;
  font-weight: 15px;
  color: #000000;
  margin-left: 33px;
  margin-right: 54px;
  margin-top: 43px;
  margin-bottom: 33px;
}
.card-story{
  background-color: #FFFFFF;
  border-radius: 16px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-3{
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #FFFFFF;
  background-color: #000000;
  padding: 10px 10px ;
  border-radius: 12px;
  margin-top: 80px;
  margin-bottom: 60px;
}